# Code owner specification in Rucio
#
# Please consult the contribution guide for general contribution guidelines https://rucio.cern.ch/documentation/contributing
#
# In addition to peer-review, which is open to the entire Rucio community, we also notify the respective component leads to review pull requests involving their components.
# Component leads: https://github.com/rucio/rucio/wiki

# List of components:
# Some components are out of the alphabetical order due to precedence of CODEOWNER files

# Core & Internals (This goes first and is a catch-all for core)
/lib/rucio/core/                        @bari12
/lib/rucio/common/                      @bari12

# Clients
/lib/rucio/client/baseclient.py         @mlassnig
/lib/rucio/client/uploadclient.py       @mlassnig
/lib/rucio/client/downloadclient.py     @mlassnig
/lib/rucio/client/                      @mlassnig
/bin/                                   @mlassnig

# ----

# Authentication & Authorisation
/lib/rucio/client/accountclient.py      @mlassnig
/lib/rucio/api/authentication.py        @mlassnig
/lib/rucio/api/account.py               @mlassnig
/lib/rucio/api/permission.py            @mlassnig
/lib/rucio/core/account.py              @mlassnig
/lib/rucio/core/authentication.py       @mlassnig
/lib/rucio/core/oidc.py                 @dchristidis
/lib/rucio/daemons/oauthmanager/        @mlassnig

# Consistency checks
/lib/rucio/daemons/auditor/             @faluchet

# Data Pre-Placement
/lib/rucio/daemons/c3po/                @bari12

# Database
/lib/rucio/db/                          @mlassnig

# Dataset deletion
/lib/rucio/daemons/undertaker/          @bari12

# Deletion
/lib/rucio/daemons/reaper/              @cserf

# DIRAC

# Docker & Kubernetes

# Documentation

# Functional tests
/lib/rucio/daemons/automatix/           @cserf

# Life time model
/lib/rucio/daemons/atropos/             @dchristidis

# Messaging
/lib/rucio/core/message.py              @mlassnig
/lib/rucio/daemons/hermes/              @mlassnig

# Monitoring & Logging

# Multi VO

# Policies

# Probes & Alarms

# Protocols
/lib/rucio/rse/                         @mlassnig

# Rebalancing

# Recovery
/lib/rucio/daemons/badreplicas/         @cserf
/lib/rucio/daemons/replicarecoverer/    @cserf

# Release management

# Replicas
/lib/rucio/core/replica.py              @mlassnig

# REST & API
#/lib/rucio/api/                         @bziemons
#/lib/rucio/web/                         @bziemons

# Rules
/lib/rucio/client/ruleclient.py         @bari12
/lib/rucio/api/rule.py                  @bari12
/lib/rucio/core/rule*                   @bari12
/lib/rucio/daemons/judge/               @bari12

# Subscriptions
/lib/rucio/core/subscription.py         @cserf
/lib/rucio/client/subscriptionclient.py @cserf
/lib/rucio/daemons/transmogrifier/      @cserf

# Testing
/.github/                               @maany
/etc/docker/test/                       @maany
/tests/conftest.py                      @maany
/tests/ruciopytest/                     @maany
/tools/github/                          @maany
/tools/test/                            @maany

# Traces
/lib/rucio/core/trace.py                @mlassnig
/lib/rucio/daemons/tracer/              @mlassnig

# Transfers
/lib/rucio/core/transfer.py             @rcarpa
/lib/rucio/core/request.py              @rcarpa
/lib/rucio/daemons/conveyor/            @rcarpa
/lib/rucio/transfertool/                @rcarpa

# WebUI
/lib/rucio/web/ui/                      @maany
