# Copyright European Organization for Nuclear Research (CERN)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
#
# Authors:
# - Mario Lassnig, <mario.lassnig@cern.ch>, 2012
# - Vincent Garonne, <vincent.garonne@cern.ch>, 2012

# do not accidentally commit config files
etc/rse-accounts.cfg
etc/rucio.cfg
etc/web/httpd*.conf
etc/web/lighttpd*.conf

# ignore test proxies
etc/web/*.proxy

# ignore MANIFEST file
MANIFEST

# build directories
.coverage
build/
covhtml
dist/
doc/build/
examples/whip/results/
lib/rucio.egg-info/

# Backup and temp files
*.log
*.pyc
*.swp
*.swp
*~
.venv
lib/rucio/vcsversion.py
rucio.egg-info

# Mac OS X Finder
.DS_Store
