include AUTHORS
include LICENSE
include ChangeLog
include README
include TODO
include setup.py
include setup.cfg
include etc/*
graft bin
graft doc
graft tools
graft examples
prune dist 
prune examples/whip/results/
recursive-include lib *.py
global-exclude *.pyc *.log *.db *.swp

