include AUTHORS
include LICENSE
include ChangeLog
include README
include TODO
include setup.py
include setup.cfg
graft bin
graft doc
prune dist 
prune examples
prune .coverage
prune build/
prune covhtml
prune  doc/build/
prune lib/rucio*egg-info/
prune .venv
prune .DS_Store
global-exclude *.pyc *.log *.db *.swp *.proxy *~ *.cfg

