-e ./[testing]
-e ./rucio-api/[testing]
-e ./rucio-cli-client/[testing]
-e ./rucio-client/[testing]
-e ./rucio-core/[testing]
-e ./rucio-daemons/[testing]
-e ./rucio-gateway/[testing]
-e ./rucio-transfertool/[testing]
-e ./rucio-webui/[testing]