version: "2"
services:
  rucio:
    image: rucio-dev
    ports:
      - "443:443"
    links:
      - psql:psql
      - graphite:graphite
    volumes:
      - ../../../tools:/opt/rucio/tools
      - ../../../bin:/opt/rucio/bin
      - ../../../lib:/opt/rucio/lib
  psql:
    image: postgres:11
    restart: always
    environment:
      - POSTGRES_USER=rucio
      - POSTGRES_DB=rucio
      - POSTGRES_PASSWORD=secret
    ports:
      - "5432:5432"
  graphite:
    image: graphiteapp/graphite-statsd
    ports:
      - "80:80"
