LoadModule ssl_module /usr/lib64/httpd/modules/mod_ssl.so
LoadModule unique_id_module modules/mod_unique_id.so
LoadModule wsgi_module /usr/lib64/httpd/modules/mod_wsgi.so

Listen 443
Listen 80

Header set X-Rucio-Host "%{HTTP_HOST}e"
RequestHeader add X-Rucio-RequestId "%{UNIQUE_ID}e"

{% if RUCIO_LOG_FORMAT is defined %}
LogFormat "{{ RUCIO_LOG_FORMAT }}" combinedrucio
{% else %}
LogFormat "%h\t%t\t%{X-Rucio-Forwarded-For}i\t%T\t%D\t\"%{X-Rucio-Auth-Token}i\"\t%{X-Rucio-RequestId}i\t%{X-Rucio-Client-Ref}i\t\"%r\"\t%>s\t%b" combinedrucio
{% endif %}

LoadModule authn_core_module modules/mod_authn_core.so
LoadModule cache_disk_module modules/mod_cache_disk.so

CacheEnable disk /
CacheRoot /tmp

{% if RUCIO_HOSTNAME is defined %}
<VirtualHost *:80>
 ServerName {{ RUCIO_HOSTNAME }}:80
 Redirect / https://{{ RUCIO_HOSTNAME }}/
</VirtualHost>

<VirtualHost *:443>
 ServerName {{ RUCIO_HOSTNAME }}:443
{% else %}
<VirtualHost *:443>
{% endif %}
{% if RUCIO_SERVER_ADMIN is defined %}
 ServerAdmin {{ RUCIO_SERVER_ADMIN }}
{% else %}
 ServerAdmin rucio-admin@cern.ch
{% endif %}

 SSLEngine on
 SSLCertificateFile /etc/grid-security/hostcert.pem
 SSLCertificateKeyFile /etc/grid-security/hostkey.pem
{% if RUCIO_CA_PATH is defined %}
 SSLCACertificatePath {{ RUCIO_CA_PATH }}
 SSLCARevocationPath {{ RUCIO_CA_PATH }}
{% else %}
 SSLCACertificateFile /etc/grid-security/ca.pem
{% endif %}
 SSLVerifyClient optional_no_ca
 SSLVerifyDepth 10
 SSLOptions +StdEnvVars
 SSLProxyEngine On

 #AB: SSLv3 disable
 SSLProtocol              all -SSLv2 -SSLv3
 #AB: for Security
 SSLCipherSuite           HIGH:!CAMELLIA:!ADH:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!3DES
{% if RUCIO_LOG_LEVEL is defined %}
 LogLevel {{ RUCIO_LOG_LEVEL }}
{% else %}
 LogLevel info
{% endif %}

{% if RUCIO_ENABLE_LOGFILE|default('False') == 'True' %}
 CustomLog logs/access_log combinedrucio
 ErrorLog logs/error_log
{% else %}
 CustomLog /dev/stdout combinedrucio
 ErrorLog /dev/stderr
{% endif %}

 Alias /media                 /usr/lib/python2.7/site-packages/rucio/web/ui/media
 Alias /static                /usr/lib/python2.7/site-packages/rucio/web/ui/static
 WSGIScriptAlias /            /usr/lib/python2.7/site-packages/rucio/web/ui/main.py

{% if RUCIO_PROXY is defined %}
  ProxyPass /proxy             https://{{ RUCIO_PROXY }}
  ProxyPassReverse /proxy      https://{{ RUCIO_PROXY }}
{% endif %}
{% if RUCIO_AUTH_PROXY is defined %}
  ProxyPass /authproxy             https://{{ RUCIO_PROXY }}
  ProxyPassReverse /authproxy      https://{{ RUCIO_PROXY }}
{% endif %}
</VirtualHost>
