{ 
  "global": { 
    "multiplier": 1,
    "operation_mode": "gearman",
    "update_interval": 5,
    "gearman": ["voatlas320:4730"],
    "carbon": {
      "CARBON_SERVER": "voatlas70.cern.ch",
      "USER_SCOPE": "ralph",
      "CARBON_PORT": 8125
    }
  },
  "dummy_template": {
    "DUMMY_UC1": 2,
    "DUMMY_UC2": 4,
    "context": {
      "bla": "blu",
      "one": 1
    }
  },
  "dummy": {
    "UC1": 24,
    "UC2": 16,
    "context": {
      "bli": "ble",
      "two": 2
    }
  }
}
