{
  "lxplus.cern.ch":{
    "username":"USERNAME",
    "password":"PASSWORD",
    "host":"lxplus.cern.ch"
  },
  "swift.cern.ch": {
    "access_key": "ACCESSKEY",
    "secret_key": "PASSWORD",
    "host_base": "swift.cern.ch",
    "host_bucket": "swift.cern.ch",
    "progress_meter": "False",
    "skip_existing": "False"
  },
  "garage.replace.with.rseid": {
    "access_key": "GK3f770a3b643e6306c68992186a72TEST",
    "secret_key": "a1c7029dc9e39e66e7cbaa873eae9d35975a2b66283954aa678bbd9661ebTEST",
    "signature_version": "s3v4",
    "region": "garage"
  },
  "posix": {},
  "DESY-ZN_SCRATCHDISK": {
    "auth_type": "cert",
    "timeout":300
  },
  "TAIWAN-LCG2_PPSSCRATCHDISK": {
    "cert": ["/tmp/x509up","/tmp/x509up"],
    "auth_type": "cert",
    "timeout":300
  }
}
