[common]
logdir = {{ RUCIO_CFG_COMMON_LOGDIR | default('/var/log/rucio') }}
loglevel = {{ RUCIO_CFG_COMMON_LOGLEVEL | default('DEBUG') }}
mailtemplatedir = {{ RUCIO_CFG_COMMON_MAILTEMPLATEDIR | default('/opt/rucio/etc/mail_templates') }}

[database]
default = {{ RUCIO_CFG_DATABASE_DEFAULT | default('sqlite:////tmp/rucio.db') }}
{% if RUCIO_CFG_DATABASE_SCHEMA is defined %}
schema = {{ RUCIO_CFG_DATABASE_SCHEMA }}
{%- endif %}
pool_reset_on_return = {{ RUCIO_CFG_DATABASE_POOL_RESET_ON_RETURN | default('rollback') }}
echo = {{ RUCIO_CFG_DATABASE_ECHO | default('0') }}
pool_recycle = {{ RUCIO_CFG_DATABASE_POOL_RECYCLE | default('600') }}
{% if RUCIO_CFG_DATABASE_POOL_SIZE is defined %}pool_size = {{ RUCIO_CFG_DATABASE_POOL_SIZE }}{% endif %}
{% if RUCIO_CFG_DATABASE_POOL_TIMEOUT is defined %}pool_timeout = {{ RUCIO_CFG_DATABASE_POOL_TIMEOUT }}{% endif %}
{% if RUCIO_CFG_DATABASE_MAX_OVERFLOW is defined %}max_overflow = {{ RUCIO_CFG_DATABASE_MAX_OVERFLOW }}{% endif %}
{% if RUCIO_CFG_DATABASE_POWUSERACCOUNT is defined %}powuseraccount = {{ RUCIO_CFG_DATABASE_POWUSERACCOUNT }}{% endif %}
{% if RUCIO_CFG_DATABASE_POWUSERPASSWORD is defined %}powuserpassword = {{ RUCIO_CFG_DATABASE_POWUSERPASSWORD }}{% endif %}

[monitor]
carbon_server = {{ RUCIO_CFG_MONITOR_CARBON_SERVER | default('localhost') }}
carbon_port = {{ RUCIO_CFG_MONITOR_CARBON_PORT | default('8125') }}
user_scope = {{ RUCIO_CFG_MONITOR_USER_SCOPE | default('default_docker') }}

[trace]
tracedir = {{ RUCIO_CFG_TRACE_TRACEDIR | default('/var/log/rucio/trace') }}
brokers = {{ RUCIO_CFG_TRACE_BROKERS | default('localhost') }}
port = {{ RUCIO_CFG_TRACE_PORT | default('61013') }}
{%- if RUCIO_CFG_TRACE_USERNAME is defined -%}username = {{ RUCIO_CFG_TRACE_USERNAME }}{% endif %}
{%- if RUCIO_CFG_TRACE_PASSWORD is defined -%}password = {{ RUCIO_CFG_TRACE_PASSWORD }}{% endif %}
topic = {{ RUCIO_CFG_TRACE_TOPIC | default('/topic/rucio.tracer') }}

[nongrid_trace]
tracedir = {{ RUCIO_CFG_NONGRID_TRACE_TRACEDIR | default('/var/log/rucio/trace') }}
brokers = {{ RUCIO_CFG_NONGRID_TRACE_BROKERS | default('localhost') }}
port = {{ RUCIO_CFG_NONGRID_TRACE_PORT | default('61013') }}
{%- if RUCIO_CFG_NONGRID_TRACE_USERNAME is defined -%}username = {{ RUCIO_CFG_NONGRID_TRACE_USERNAME }}{% endif %}
{%- if RUCIO_CFG_NONGRID_TRACE_PASSWORD is defined -%}password = {{ RUCIO_CFG_NONGRID_TRACE_PASSWORD }}{% endif %}
topic = {{ RUCIO_CFG_NONGRID_TRACE_TOPIC | default('/topic/rucio.tracer') }}

[permission]
policy = {{ RUCIO_CFG_PERMISSION_POLICY | default('generic') }}
schema = {{ RUCIO_CFG_PERMISSION_SCHEMA | default('generic') }}
lfn2pfn_algorithm_default = {{ RUCIO_CFG_PERMISSION_LFN2PFN_ALGORITHM_DEFAULT | default('hash') }}
support = {{ RUCIO_CFG_PERMISSION_SUPPORT | default('https://github.com/rucio/rucio/issues/') }}
support_rucio = {{ RUCIO_CFG_PERMISSION_SUPPORT_RUCIO | default('https://github.com/rucio/rucio/issues/') }}

[webui]
usercert = {{ RUCIO_CFG_WEBUI_USERCERT | default('/opt/rucio/etc/usercert_with_key.pem') }}
