[accounts]
special_accounts = {{ RUCIO_CFG_ACCOUNTS_SPECIAL_ACCOUNTS | default('panda, tier0') }}

[common]
logdir = {{ RUCIO_CFG_COMMON_LOGDIR | default('/var/log/rucio') }}
loglevel = {{ RUCIO_CFG_COMMON_LOGLEVEL | default('DEBUG') }}
mailtemplatedir = {{ RUCIO_CFG_COMMON_MAILTEMPLATEDIR | default('/opt/rucio/etc/mail_templates') }}

[database]
default = {{ RUCIO_CFG_DATABASE_DEFAULT | default('sqlite:////tmp/rucio.db') }}
{% if RUCIO_CFG_DATABASE_SCHEMA is defined %}
schema = {{ RUCIO_CFG_DATABASE_SCHEMA }}
{%- endif %}
pool_reset_on_return = {{ RUCIO_CFG_DATABASE_POOL_RESET_ON_RETURN | default('rollback') }}
echo = {{ RUCIO_CFG_DATABASE_ECHO | default('0') }}
pool_recycle = {{ RUCIO_CFG_DATABASE_POOL_RECYCLE | default('600') }}
{% if RUCIO_CFG_DATABASE_POOL_SIZE is defined %}pool_size = {{ RUCIO_CFG_DATABASE_POOL_SIZE }}{% endif %}
{% if RUCIO_CFG_DATABASE_POOL_TIMEOUT is defined %}pool_timeout = {{ RUCIO_CFG_DATABASE_POOL_TIMEOUT }}{% endif %}
{% if RUCIO_CFG_DATABASE_MAX_OVERFLOW is defined %}max_overflow = {{ RUCIO_CFG_DATABASE_MAX_OVERFLOW }}{% endif %}
{% if RUCIO_CFG_DATABASE_POWUSERACCOUNT is defined %}powuseraccount = {{ RUCIO_CFG_DATABASE_POWUSERACCOUNT }}{% endif %}
{% if RUCIO_CFG_DATABASE_POWUSERPASSWORD is defined %}powuserpassword = {{ RUCIO_CFG_DATABASE_POWUSERPASSWORD }}{% endif %}

[monitor]
carbon_server = {{ RUCIO_CFG_MONITOR_CARBON_SERVER | default('localhost') }}
carbon_port = {{ RUCIO_CFG_MONITOR_CARBON_PORT | default('8125') }}
user_scope = {{ RUCIO_CFG_MONITOR_USER_SCOPE | default('default_docker') }}

[permission]
policy = {{ RUCIO_CFG_PERMISSION_POLICY | default('generic') }}
schema = {{ RUCIO_CFG_PERMISSION_SCHEMA | default('generic') }}
lfn2pfn_algorithm_default = {{ RUCIO_CFG_PERMISSION_LFN2PFN_ALGORITHM_DEFAULT | default('hash') }}
support = {{ RUCIO_CFG_PERMISSION_SUPPORT | default('https://github.com/rucio/rucio/issues/') }}
support_rucio = {{ RUCIO_CFG_PERMISSION_SUPPORT_RUCIO | default('https://github.com/rucio/rucio/issues/') }}

[automatix]
{% if RUCIO_CFG_AUTOMATIX_SITES is defined %}sites = {{ RUCIO_CFG_AUTOMATIX_SITES }}{% endif %}
{% if RUCIO_CFG_AUTOMATIX_SLEEP_TIME is defined %}sleep_time = {{ RUCIO_CFG_AUTOMATIX_SLEEP_TIME }}{% endif %}
{% if RUCIO_CFG_AUTOMATIX_DATASET_LIFETIME is defined %}dataset_lifetime = {{ RUCIO_CFG_AUTOMATIX_DATASET_LIFETIME }}{% endif %}
{% if RUCIO_CFG_AUTOMATIX_SET_METADATA is defined %}set_metadata = {{ RUCIO_CFG_AUTOMATIX_SET_METADATA }}{% endif %}

[auditor]
results = {{ RUCIO_CFG_AUDITOR_RESULTS | default('/opt/rucio/auditor/results/') }}
cache = {{ RUCIO_CFG_AUDITOR_CACHE | default('/opt/rucio/auditor/cache') }}

[conveyor]
scheme = {{ RUCIO_CFG_CONVEYOR_SCHEME | default('srm,gsiftp,root,http,https') }}
transfertool = {{ RUCIO_CFG_CONVEYOR_TRANSFERTOOL | default('fts3') }}
ftshosts = {{ RUCIO_CFG_CONVEYOR_FTSHOSTS | default('https://fts3-pilot.cern.ch:8446, https://fts3-pilot.cern.ch:8446') }}
cacert = {{ RUCIO_CFG_CONVEYOR_CACERT | default('/opt/rucio/etc/web/ca.crt') }}
usercert = {{ RUCIO_CFG_CONVEYOR_USERCERT | default('/opt/rucio/tools/x509up') }}
{% if RUCIO_CFG_CONVEYOR_CACHE_TIME is defined %}cache_time = {{ RUCIO_CFG_CONVEYOR_CACHE_TIME }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_USE_DETERMINISTIC_ID is defined %}use_deterministic_id = True {{ RUCIO_CFG_CONVEYOR_USE_DETERMINISTIC_ID }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_POLL_TIMEOUT is defined %}poll_timeout = 30 {{ RUCIO_CFG_CONVEYOR_POLL_TIMEOUT }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_SUBMIT_TIMEOUT is defined %}submit_timeout = 30 {{ RUCIO_CFG_CONVEYOR_SUBMIT_TIMEOUT }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_BRING_ONLINE is defined %}bring_online = 604800 {{ RUCIO_CFG_CONVEYOR_BRING_ONLINE }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_QUEUE_MODE is defined %}queue_mode = strict {{ RUCIO_CFG_CONVEYOR_QUEUE_MODE }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_USING_MEMCACHE is defined %}using_memcache = True {{ RUCIO_CFG_CONVEYOR_USING_MEMCACHE }}{% endif %}
{% if RUCIO_CFG_CONVEYOR_FTSMONHOSTS is defined %}ftsmonhosts = {{ RUCIO_CFG_CONVEYOR_FTSMONHOSTS }}{% endif %}

[messaging-fts3]
port = {{ RUCIO_CFG_MESSAGING_FTS3_PORT | default('61123') }}
ssl_key_file = {{ RUCIO_CFG_MESSAGING_FTS3_SSL_KEY_FILE | default('/etc/grid-security/hostkey.pem') }}
ssl_cert_file = {{ RUCIO_CFG_MESSAGING_FTS3_SSL_CERT_FILE | default('/etc/grid-security/hostcert.pem') }}
destination = {{ RUCIO_CFG_MESSAGING_FTS3_DESTINATION | default('/topic/transfer.fts_monitoring_queue_state') }}
brokers = {{ RUCIO_CFG_MESSAGING_FTS3_BROKERS | default('dashb-test-mb.cern.ch') }}
voname = {{ RUCIO_CFG_MESSAGING_FTS3_VONAME | default('atlas') }}

[messaging-hermes]
{% if RUCIO_CFG_MESSAGING_HERMES_USERNAME is defined %}username = {{ RUCIO_CFG_MESSAGING_HERMES_USERNAME }}{% endif %}
{% if RUCIO_CFG_MESSAGING_HERMES_PASSWORD is defined %}username = {{ RUCIO_CFG_MESSAGING_HERMES_PASSWORD }}{% endif %}
port = {{ RUCIO_CFG_MESSAGING_HERMES_PORT | default('61023') }}
{% if RUCIO_CFG_MESSAGING_HERMES_NONSSL_PORT is defined %}nonssl_port = {{ RUCIO_CFG_MESSAGING_NONSSL_PORT }}{% endif %}
{% if RUCIO_CFG_MESSAGING_HERMES_USE_SSL is defined %}use_ssl = {{ RUCIO_CFG_MESSAGING_USE_SSL }}{% endif %}
ssl_key_file = {{ RUCIO_CFG_MESSAGING_HERMES_SSL_KEY_FILE | default('/etc/grid-security/hostkey.pem') }}
ssl_cert_file = {{ RUCIO_CFG_MESSAGING_HERMES_SSL_CERT_FILE | default('/etc/grid-security/hostcert.pem') }}
destination = {{ RUCIO_CFG_MESSAGING_HERMES_DESTINATION | default('/topic/rucio.events') }}
brokers = {{ RUCIO_CFG_MESSAGING_HERMES_BROKERS | default('atlas-test-mb.cern.ch') }}
voname = {{ RUCIO_CFG_MESSAGING_HERMES_VONAME | default('atlas') }}
email_from = {{ RUCIO_CFG_MESSAGING_HERMES_EMAIL_FROM | default('Rucio <atlas-adc-ddm-support@cern.ch>') }}
{% if RUCIO_CFG_MESSAGING_HERMES_EMAIL_TEST is defined %}email_test = {{ RUCIO_CFG_MESSAGING_EMAIL_TEST }}{% endif %}

[tracer-kronos]
brokers= {{ RUCIO_CFG_TRACER_KRONOS_BROKERS | default('atlas-test-mb.cern.ch') }}
port= {{ RUCIO_CFG_TRACER_KRONOS_PORT | default('61013') }}
ssl_key_file = {{ RUCIO_CFG_TRACER_SSL_KEY_FILE | default('/etc/grid-security/hostkey.pem') }}
ssl_cert_file = {{ RUCIO_CFG_TRACER_SSL_CERT_FILE | default('/etc/grid-security/hostcert.pem') }}
queue = {{ RUCIO_CFG_TRACER_QUEUE | default('/queue/Consumer.kronos.rucio.tracer') }}
prefetch_size = {{ RUCIO_CFG_TRACER_PREFETCH_SIZE | default('10') }}
chunksize = {{ RUCIO_CFG_TRACER_CHUNKSIZE | default('10') }}
subscription_id = {{ RUCIO_CFG_TRACER_SUBSCRIPTION_ID | default('rucio-tracer-listener') }}
use_ssl = {{ RUCIO_CFG_TRACER_USE_SSL | default('False') }}
reconnect_attempts = {{ RUCIO_CFG_TRACER_RECONNECT_ATTEMPTS | default('100') }}
excluded_usrdns = {{ RUCIO_CFG_TRACER_EXCLUDED_USRDNS | default('') }}
{% if RUCIO_CFG_TRACER_KRONOS_USERNAME is defined %}username = {{ RUCIO_CFG_TRACER_KRONOS_USERNAME }}{% endif %}
{% if RUCIO_CFG_TRACER_KRONOS_PASSWORD is defined %}username = {{ RUCIO_CFG_TRACER_KRONOS_PASSWORD }}{% endif %}
dataset_wait = excluded_usrdns = {{ RUCIO_CFG_TRACER_DATASET_WAIT | default('60') }}

[messaging-cache]
port = {{ RUCIO_CFG_MESSAGING_CACHE_PORT | default('61123') }}
ssl_key_file = {{ RUCIO_CFG_MESSAGING_CACHE_SSL_KEY_FILE | default('/etc/grid-security/hostkey.pem') }}
ssl_cert_file = {{ RUCIO_CFG_MESSAGING_CACHE_SSL_CERT_FILE | default('/etc/grid-security/hostcert.pem') }}
destination = {{ RUCIO_CFG_MESSAGING_CACHE_DESTINATION | default('/topic/rucio.cache') }}
brokers = {{ RUCIO_CFG_MESSAGING_CACHE_BROKERS | default('dashb-test-mb.cern.ch') }}
voname = {{ RUCIO_CFG_MESSAGING_CACHE_VONAME | default('atlas') }}
account = {{ RUCIO_CFG_MESSAGING_CACHE_ACCOUNT | default('ddm') }}

[credentials]
gcs = {{ RUCIO_CFG_CREDENTIALS_GCS | default('/opt/rucio/etc/google-cloud-storage-test.json') }}
signature_lifetime = {{ RUCIO_CFG_CREDENTIALS_SIGNATURE_LIFETIME | default('3600') }}
