#!/bin/bash
# -*- coding: utf-8 -*-
# Copyright European Organization for Nuclear Research (CERN) since 2012
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

all.export /rucio
xrd.tls /etc/grid-security/xrd/xrdcert.pem /etc/grid-security/xrd/xrdkey.pem detail
xrd.tlsca certfile /etc/grid-security/certificates/5fca1cb1.0 certdir /etc/grid-security/certificates/ proxies
xrootd.tls all
if exec xrootd
  xrd.protocol http:XRDPORT /usr/lib64/libXrdHttp.so
  http.exthandler xrdtpc /usr/lib64/libXrdHttpTPC.so
fi

acc.authdb /etc/xrootd/Authfile
xrootd.seclib /usr/lib64/libXrdSec.so
ofs.authorize
ofs.authlib ++ libXrdAccSciTokens.so config=/etc/xrootd/scitokens.cfg
sec.protocol /usr/lib64 gsi -dlgpxy:1 -exppxy:=creds
sec.protocol /usr/lib64 ztn -expiry required -maxsz 20k
xrootd.chksum adler32 /usr/local/bin/xrdadler32.sh
ofs.tpc autorm fcreds gsi =X509_USER_PROXY pgm /usr/bin/xrdcp --server

xrd.port XRDPORT
