name: Run all the autotests

on:
  # - pull_request
  # - push
  - workflow_dispatch

jobs:
  header-lint:
    if: 'github.event_name == ''pull_request'''
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          # Check out pull request's HEAD commit instead of the merge commit to
          # work-around an issue where wrong a commit is being checked out.
          # For more details, see:
          # https://github.com/actions/checkout/issues/299.
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Check headers
        shell: bash
        run: |
          echo "Current git rev $(git rev-parse HEAD)"
          echo "Common ancestor git rev $(git merge-base HEAD remotes/origin/master)"
          echo "If a file header needs to be changed run 'tools/add_header -i FILE' from the rucio project directory."
          FILES=$(git diff --name-status HEAD $(git merge-base HEAD remotes/origin/master) | grep -v '^A' | cut -f 2 | grep -E '\.py$|^bin/') || echo "No Files found"
          if [[ -n $FILES ]]; then
            echo "Files to check: $FILES"
            tools/add_header --disable-add-me -cd $FILES
          fi
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update pip
        run: python3 -m pip install -U pip setuptools
      - name: Install python requirements for matrix_parser.py
        run: python3 -m pip install -U PyYAML
      - name: Identify branch
        id: branch
        run: python3 -c 'from os import environ as env; print("::set-output name=branch::" + (env.get("GITHUB_BASE_REF", None) if env.get("GITHUB_BASE_REF", None) else env.get("GITHUB_REF", "master")))'
      - name: Identify Matrix
        id: matrix
        run: echo "::set-output name=matrix::$(./tools/test/matrix_parser.py < ./etc/docker/test/matrix.yml)"
    outputs:
      branch: ${{ steps.branch.outputs.branch }}
      matrix: ${{ steps.matrix.outputs.matrix }}
  test:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      - name: Build images
        id: images
        shell: bash
        run: |
          docker login https://ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          i=0; until [ "$i" -ge 3 ]; do
            IMAGES=$(echo '${{ toJson(matrix.cfg) }}' | ./tools/test/build_images.py \
                --cache-repo ghcr.io/${{ github.repository }} \
                --branch "${{ needs.setup.outputs.branch }}" ./etc/docker/test || echo "")
            if [[ -n $IMAGES ]]; then break;
            else
              i=$((i+1)); sleep 5;
              echo "::warning::Building images failed, retrying…"
            fi
          done
          docker logout https://ghcr.io
          if [[ -z "$IMAGES" ]]; then echo "::error::Building images failed ultimately"; exit 1; fi
          echo "::set-output name=images::$IMAGES"
      - name: Run test with cfg
        run: 'echo ''{"matrix": ${{ toJson(matrix.cfg) }}, "images": ${{ steps.images.outputs.images }} }'' | ./tools/test/run_tests.py'
  release-patch-setup:
    if: 'github.event_name == ''pull_request'' && !startsWith(github.event.pull_request.base.ref, ''release'') && !startsWith(github.event.pull_request.head.ref, ''feature'')'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Update pip
        run: python3 -m pip install -U pip setuptools
      - name: Install python requirements for matrix_parser.py
        run: python3 -m pip install -U sh PyYAML
      - name: Grab latest release branch
        id: grabrelease
        run: echo "::set-output name=release_branch::$(echo "${{ github.event.repository.branches_url }}" | ./tools/github/workflow/grabrelease.py)"
      - name: Fetch pull request commit range
        id: prcommits
        run: echo "::set-output name=source_commits::$(echo "${{ github.event.pull_request.commits_url }}" | ./tools/github/workflow/prcommits.py)"
      - name: Test cherry-picking pull request changes
        run: |
          echo '{
            "source_remote_name": "${{ github.actor }}",
            "source_remote": "${{ github.event.pull_request.head.repo.full_name }}",
            "source_commits": "${{ steps.prcommits.outputs.source_commits }}",
            "target_remote": "${{ github.event.pull_request.base.repo.full_name }}",
            "target_branch": "${{ steps.grabrelease.outputs.release_branch }}"
          }' | ./tools/github/workflow/mergetest.py
      - name: Identify Matrix
        id: matrix
        run: echo "::set-output name=matrix::$(./tools/test/matrix_parser.py < ./etc/docker/test/matrix.yml)"
    outputs:
      release_branch: ${{ steps.grabrelease.outputs.release_branch }}
      source_commits: ${{ steps.prcommits.outputs.source_commits }}
      matrix: ${{ steps.matrix.outputs.matrix }}
  release-patch-test:
    needs: release-patch-setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ fromJson(needs.release-patch-setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2
      - name: Update pip
        run: python3 -m pip install -U pip setuptools
      - name: Install python requirements for mergetest.py
        run: python3 -m pip install -U sh
      - name: Cherry-pick pull request changes
        run: |
          echo '{
            "source_remote_name": "${{ github.actor }}",
            "source_remote": "${{ github.event.pull_request.head.repo.full_name }}",
            "source_commits": "${{ needs.release-patch-setup.outputs.source_commits }}",
            "target_remote": "${{ github.event.pull_request.base.repo.full_name }}",
            "target_branch": "${{ needs.release-patch-setup.outputs.release_branch }}"
          }' | ./tools/github/workflow/mergetest.py
      - name: Build images
        id: images
        shell: bash
        run: |
          docker login https://ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          i=0; until [ "$i" -ge 3 ]; do
            IMAGES=$(echo '${{ toJson(matrix.cfg) }}' | ./tools/test/build_images.py \
                --cache-repo ghcr.io/${{ github.repository }} \
                --branch "${{ needs.release-patch-setup.outputs.release_branch }}" ./etc/docker/test || echo "")
            if [[ -n $IMAGES ]]; then break;
            else
              i=$((i+1)); sleep 5;
              echo "::warning::Building images failed, retrying…"
            fi
          done
          docker logout https://ghcr.io
          if [[ -z "$IMAGES" ]]; then echo "::error::Building images failed ultimately"; exit 1; fi
          echo "::set-output name=images::$IMAGES"
      - name: Run test with cfg
        run: 'echo ''{"matrix": ${{ toJson(matrix.cfg) }}, "images": ${{ steps.images.outputs.images }} }'' | ./tools/test/run_tests.py'
