name: Run all the autotests

on:
  pull_request:
  push:
  schedule:
    - cron: '0 3 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  add_header:
    if: github.repository_owner == 'rucio' || github.event_name != 'schedule'
    name: Add header lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # We need the history to determine the file creation date.
          fetch-depth: 0
      - name: Check headers
        shell: bash
        run: |
          python3 tools/add_header --dry-run --disable-progress-bar
  python_ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Run Ruff
        run: ruff check --output-format=github .

  python_config_annotations:
    if: |
      !startsWith(github.ref_name, 'release')
      && !startsWith(github.base_ref, 'release')
      && github.event_name != 'schedule'
      && github.ref_type != 'tag'
    name: Check Configuration Annotations
    runs-on: ubuntu-latest
    env:
      UPDATED_CONFIG_ANNOTATIONS_REPORT_FILE: ../updated_config_annotation_report.txt
      INITIAL_CONFIG_ANNOTATIONS_REPORT_FILE: ../initial_config_annotation_report.txt

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install client and common
        id: install_common
        shell: bash
        run: sudo python3 setup_rucio_client.py install
      - name: Count current number of configuration annotations
        id: count_updated
        shell: bash
        run: |
          python3 tools/generate_configuration_setting.py --count > ${{env.UPDATED_CONFIG_ANNOTATIONS_REPORT_FILE}}
          echo "The current number of annotations for configuration settings : $(cat < ${{ env.UPDATED_CONFIG_ANNOTATIONS_REPORT_FILE }})"
          sudo rm -rf /home/runner/work/rucio/rucio/*
      - name: Checkout ancestor commit with rucio/master
        uses: ./.github/actions/checkout_ancestor_commit
        with:
          paths_to_copy: |
            tools/generate_configuration_setting.py
            lib/rucio/common/config_settings.py
            lib/rucio/common/config.py
            lib/rucio/common/types.py
      - name: Count initial number of configuration annotations
        id: count_initial
        shell: bash
        run: |
          sudo python3 setup_rucio_client.py install
          python3 tools/generate_configuration_setting.py --count > ${{env.INITIAL_CONFIG_ANNOTATIONS_REPORT_FILE}}
          echo "The current number of annotations for configuration settings : $(cat < ${{ env.INITIAL_CONFIG_ANNOTATIONS_REPORT_FILE}})"
          sudo rm -rf /home/runner/work/rucio/rucio/*
      - name: Diff of missing annotations
        shell: bash
        run: |
          INITIAL_CONFIG_ANNOTATIONS=$(cat < ${{ env.INITIAL_CONFIG_ANNOTATIONS_REPORT_FILE }})
          UPDATE_CONFIG_ANNOTATIONS=$(cat < ${{ env.UPDATED_CONFIG_ANNOTATIONS_REPORT_FILE }})

          echo "The initial ratio of documented configuration parameters to undocumented parameters: $INITIAL_CONFIG_ANNOTATIONS"
          echo "The updated ratio of documented configuration parameters to undocumented parameters: $UPDATE_CONFIG_ANNOTATIONS"
          if [ $INITIAL_CONFIG_ANNOTATIONS -lt $UPDATE_CONFIG_ANNOTATIONS ]; then
            echo "A new configuration parameter was added as a string and not as a defined option"
            echo "Please ensure the new parameter is called from rucio.common.config_settings"
            echo "`option = Config.[section].[option]()`"
            echo "where Config.[section].[option] is a ConfigOption type."
            echo "Adding documentation comments ensures all parameters are up to date and documentation is accessible to users."
            exit 1
          fi
  python_annotations:
    if: |
      !startsWith(github.ref_name, 'release')
      && !startsWith(github.base_ref, 'release')
      && github.event_name != 'schedule'
      && github.ref_type != 'tag'
    name: Check Python Type Annotations
    runs-on: ubuntu-latest
    env:
      UPDATED_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE: ../updated_type_annotation_report.txt
      INITIAL_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE: ../initial_type_annotation_report.txt
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Count current number of missing type annotations
        id: count_updated
        shell: bash
        run: |
          pip install flake8 flake8-annotations
          source tools/count_missing_type_annotations_utils.sh
          create_missing_python_type_annotations_report ${{ env.UPDATED_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }}
          echo "The current number of missing python type annotations: $(wc -l < ${{ env.UPDATED_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }})"
      - name: Checkout ancestor commit with rucio/master
        uses: ./.github/actions/checkout_ancestor_commit
        with:
          paths_to_copy: |
            tools/count_missing_type_annotations.sh
            tools/count_missing_type_annotations_utils.sh
      - name: Count initial number of missing type annotations
        id: count_initial
        shell: bash
        run: |
          source tools/count_missing_type_annotations_utils.sh
          create_missing_python_type_annotations_report ${{ env.INITIAL_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }}
          echo "The initial number of missing python type annotations: $(wc -l < ${{ env.INITIAL_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }})"
      - name: Diff of missing annotations
        shell: bash
        run: |
          diff ${{ env.INITIAL_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }} ${{ env.UPDATED_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }} || true
      - name: Compare numbers of missing type annotations
        shell: bash
        run: |
          INITIAL_NUMBER_OF_MISSING_TYPE_ANNOTATIONS=$(wc -l < ${{ env.INITIAL_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }})
          UPDATED_NUMBER_OF_MISSING_TYPE_ANNOTATIONS=$(wc -l < ${{ env.UPDATED_PYTHON_TYPE_ANNOTATIONS_REPORT_FILE }})

          echo "The initial number of missing type annotations is: $INITIAL_NUMBER_OF_MISSING_TYPE_ANNOTATIONS"
          echo "The updated number of missing type annotations is: $UPDATED_NUMBER_OF_MISSING_TYPE_ANNOTATIONS"
          if [ $UPDATED_NUMBER_OF_MISSING_TYPE_ANNOTATIONS -gt $INITIAL_NUMBER_OF_MISSING_TYPE_ANNOTATIONS ]; then
            echo "The number of missing python type annotations should never increase! This way we ensure that new functions are type annotated."
            echo "Look into the first lines of 'Diff of missing type annotations' to get a reference point what function might be missing type annotations."
            echo "**TL;DR** New code has to be type annotated, old code should be migrated. Look into Best Practices[1] for specific instructions on how to use it in our repository."
            echo "Look into the Rucio Type Annotations Guide[2] to get some help on why, what and how to add type annotations."
            echo
            echo "[1] https://codimd.web.cern.ch/6-SU3cTpQSWRK6FHkM7mAA#Best-Practices"
            echo "[2] https://codimd.web.cern.ch/6-SU3cTpQSWRK6FHkM7mAA#"
            exit 1
          fi
  python_pyright:
    if: |
      !startsWith(github.ref_name, 'release')
      && !startsWith(github.base_ref, 'release')
      && github.event_name != 'schedule'
      && github.ref_type != 'tag'
    name: Python type check (Pyright)
    runs-on: ubuntu-latest
    env:
      PYRIGHT_CURRENT_REPORT: ../pyright_current_report.json
      PYRIGHT_ANCESTOR_REPORT: ../pyright_ancestor_report.json
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y npm libkrb5-dev libxmlsec1-dev git
          npm install --global pyright
          python -m pip --no-cache-dir install --upgrade pip
          python -m pip --no-cache-dir install --upgrade -r requirements/requirements.server.txt -r requirements/requirements.dev.txt
      - name: Make pyright report of current commit
        run: |
          tools/run_pyright.sh generate ${{ env.PYRIGHT_CURRENT_REPORT }}
      - name: Show the current Pyright report
        run: cat ${{ env.PYRIGHT_CURRENT_REPORT }}
      - name: Checkout ancestor commit with rucio/master
        uses: ./.github/actions/checkout_ancestor_commit
        with:
          paths_to_copy: |
            pyrightconfig.json
            tools/run_pyright.sh
            tools/run_pyright/
      - name: Make pyright report of ancestor commit
        run: |
          tools/run_pyright.sh generate ${{ env.PYRIGHT_ANCESTOR_REPORT }}
      - name: Show the ancestor Pyright report
        run: cat ${{ env.PYRIGHT_ANCESTOR_REPORT }}
      - name: Compare reports
        run: |
          tools/run_pyright.sh compare --Werror \
            ${{ env.PYRIGHT_ANCESTOR_REPORT }} \
            ${{ env.PYRIGHT_CURRENT_REPORT }}
  # Build runtime images for tests
  runtime_images:
    if: github.event_name != 'schedule'
    name: Build Runtime Images
    uses: ./.github/workflows/runtime_images.yml
    permissions:
      packages: write
  setup:
    if: github.repository_owner == 'rucio' || github.event_name != 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Update pip
        run: python3 -m pip install -U pip setuptools
      - name: Install python requirements for matrix_parser.py
        run: python3 -m pip install -U PyYAML
      - name: Identify branch
        id: branch
        run: python3 tools/github/workflow/set_branch_output_env.py
      - name: Identify Matrix
        id: matrix
        run: |
          EVENT="${{ github.event_name }}"
          if [ $EVENT != 'schedule' ]; then
            echo "matrix=$(./tools/test/matrix_parser.py < ./etc/docker/test/matrix.yml)" >> $GITHUB_OUTPUT
          else
            echo "matrix=$(./tools/test/matrix_parser.py < ./etc/docker/test/matrix_nightly.yml)" >> $GITHUB_OUTPUT
          fi
    outputs:
      branch: ${{ steps.branch.outputs.branch }}
      matrix: ${{ steps.matrix.outputs.matrix }}
  test:
    needs: [runtime_images, setup]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
      - name: Set repository variable
        id: repo
        run: echo "repo=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
      - name: Build Python 3.9 image locally
        if: needs.runtime_images.outputs.build_locally == 'true' && matrix.cfg.PYTHON == '3.9'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: etc/docker/test/runtime.Dockerfile
          target: final
          build-args: |
            PYTHON=3.9
          push: false
          tags: ${{ needs.runtime_images.outputs.py39_image }}
          outputs: type=docker
          cache-from: type=registry,ref=ghcr.io/${{ steps.repo.outputs.repo }}/rucio-dev-runtime:py39-buildcache
        continue-on-error: false
      - name: Build Python 3.10 image locally
        if: needs.runtime_images.outputs.build_locally == 'true' && matrix.cfg.PYTHON == '3.10'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: etc/docker/test/runtime.Dockerfile
          target: final
          build-args: |
            PYTHON=3.10
          push: false
          tags: ${{ needs.runtime_images.outputs.py310_image }}
          outputs: type=docker
          cache-from: type=registry,ref=ghcr.io/${{ steps.repo.outputs.repo }}/rucio-dev-runtime:py310-buildcache
        continue-on-error: false
      - name: Run test with cfg
        env:
          PY39_RUNTIME_IMAGE: ${{ needs.runtime_images.outputs.py39_image }}
          PY310_RUNTIME_IMAGE: ${{ needs.runtime_images.outputs.py310_image }}
          BUILD_LOCALLY: ${{ needs.runtime_images.outputs.build_locally }}
        run: |
          echo '{"matrix": ${{ toJson(matrix.cfg) }}, "runtime_images": {"3.9": "${{ needs.runtime_images.outputs.py39_image }}", "3.10": "${{ needs.runtime_images.outputs.py310_image }}"}, "build_locally": "${{ needs.runtime_images.outputs.build_locally }}" }' | ./tools/test/run_tests.py
